* {

}

html,body {
     overflow-x: hidden;
     width: 100%;
}

/* img{
    width: 80%;
    height: 80%;
} */
.header{
    margin: 10px 10px 10px 10px;
}
.container{
    display: block;
    margin: 10px 10px 10px 10px;
}

.main{
width: 631px;
background-color: hwb(64 33% 1% / 0.349);
padding: 10px 50px 10px 10px;
text-align: justify;
}

.sidebar{
width: 300px;
float: right;
background-color: rgba(213, 200, 221, 0.301);
padding: 10px 10px 10px 30px;
}
.footer{
    margin: 10px 10px 10px 10px;
}